/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(210, 38%, 95%);
  --text-color: hsl(var(--hue), 8%, 35%);
  /* --body-color: hsl(var(--hue), 100%, 99%); */
  --body-color :hsl(220, 26%, 14%);
  --container-color:  hsl(218, 23%, 23%);
  --font:"Madimi One", sans-serif;;
  --poppins :"Poppins", sans-serif;;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.content {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
}


/* isi=================================================== */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
  gap: 20px; /* Space between grid items */
  padding: 20px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--poppins);
  color: var(--title-color);
 
}

.small {
  font-size: 12px;
  letter-spacing: 2px;
}

.text-section h1 {
  font-size: 36px;
  font-family: var(--poppins);
  margin-top: 5px;
  line-height: 1;
}

.text-section h2 {
  font-size: 36px;
  font-family: var(--poppins);
  line-height: 1;
}

.text-section h3 {
  font-size: 16px;
  font-weight: 300;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 90%;
  height: auto;
  border-radius: 8px; /* Optional: for rounded corners */
  
}

#changing-text {
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Make text transparent initially */
}

/* Add this CSS to your existing stylesheet or create a new one */

.tombol {
  display: flex;
  justify-content: start;
  gap: 40px;
  margin-top: 30px;
}

.tombol a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-family: var(--font);
  
}

.button1 {
  background-color: var(--title-color); /* Set background color for Button 1 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  color: var(--container-color);
}

.button2 {
  background-color: #2ecc71; /* Set background color for Button 2 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

ion-icon {
  margin-right: 5px; /* Add margin to the right of the icon for spacing */
}


/* Responsive design */
@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr; /* Stack items on top of each other in smaller screens */
  }
  .image-section img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 83px 12px 81px 13px;
    -webkit-border-radius: 83px 12px 81px 13px;
    -moz-border-radius: 83px 12px 81px 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .text-section h2 {
    font-size: 24px;
    line-height: 2;
  }
}

